.nav-bar{
    top: 0;
    height: 70px;
    position: static;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}
.nav-bar a{
    text-decoration: none;
}
.nav-bag{
    display: flex;
}
.nav-bag svg{
    height: 30px;
    width: 30px;
    color: white;
}
.nav-bar h2{
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
}
.bag-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: yellow;
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 5px;
    margin-top: 5px;
}

/* resposive */

@media (max-width=650px){
    .nav-bar{
        padding: 0 1rem;
    }
    .nav-bar h2{
        font-size: 30px;
    }
}